<div class="banner">

    <div class="texto-banner">
        <h1>Descubra o Cartão <br>
         Perfeito para Você </h1>

        <h3>Descubra o poder dos nossos cartões de crédito seguros <br> 
            e gratificantes. Explire nossa linha de cartões de crédito <br>
            e assuma o controle de suas finanças hoje mesmo.</h3>

        <button title="LetsStart">Vamos começar <i class="bi bi-arrow-right"></i></button>

        <div class="resumo-usuarios">
            <img src="../../../assets/banner1.png" alt="pequena foto redonda de usuarios">
            <div class="resumo-texto">
                <h3>10,2k+</h3>
                <h4>Usuários ativos em todo o <br>
                     mundo</h4>
            </div>
        </div>
    </div>

    <div class="banner-img">
        <img src="../../../assets/credit-card.png" alt="Imagem de um cartão de crédito" class="banner">
    </div>

</div>