<div class="banner">

    <div class="texto-banner">
        <h1>Descubra o Cartão <br>
         Perfeito para Você</h1>

        <h3>Descubra o poder dos nossos cartões de crédito seguros <br> 
            e gratificantes. Explire nossa linha de cartões de crédito <br>
            e assuma o controle de suas finanças hoje mesmo.</h3>
            
        <button title="LetsStart">Vamos começar</button>
    </div>

    <div class="banner-img">
        <img src="../../../assets/card image.png" alt="Imagem de um cartão de crédito" class="banner">
    </div>

</div>