<div class="features">
    <h1>O que Oferecemos?</h1>
    <div class="titulo">
        <div class="box">
            <div class="icone">
                <i class="bi bi-shield-fill-check"></i>
            </div>
            <div class="texto">
                <h4>Garantia de Segurança</h4>
                <p>Seus dados e fundos estarão protegidos com segurança</p>
            </div>
        </div>
        <div class="box">
            <div class="icone">
                <i class="bi bi-bar-chart-line"></i>
            </div>
            <div class="texto">
                <h4>Investimentos</h4>
                <p>Seus investimento na palma da mão, rápido e prático</p>
            </div>
        </div>
        <div class="box">
            <div class="icone">
                <i class="bi bi-clipboard2-data-fill"></i>
            </div>
            <div class="texto">
                <h4>Limite Flexível</h4>
                <p>Você pode optar por travar um limite de consumo, 
                    assim como no limite noturno diaário de acordo com sua preferência</p>
            </div>
        </div>
    </div>
</div>
